<div class="bg-img"></div>
<div class="contenedor">
  
  <div class="iconos">
    <img src="../../../assets/img/mensaje (1).png" alt="Icono 2" class="icono">
    <img src="../../../assets/img/bot (1).png" alt="Icono 1" class="icono">
    <img src="../../../assets/img/charlar.png" alt="Icono 2" class="icono">
    <img src="../../../assets/img/robot-de-chat2.png" alt="Icono 3" class="icono">
    
    <!-- <img src="../../../assets/img/bot (1).png" alt="Icono 1" class="icono"> -->
    <!-- <img src="../../../assets/img/mensajero.png" alt="Icono 3" class="icono"> -->
  </div>

  <div class="img">
    <img src="../../../assets/splash-animado/logo-splash-animado.png" alt="" class="img-logo">
    <img src="../../../assets/splash-animado/logo-color.png" alt="" class="img-logo2">
  </div>
  <div class="nombre">
    <p class="contenido-nombre">JULIETA</p>
    <p class="contenido-nombre">LAPLACE</p>
    <p class="contenido-nombre"> PPS - 2024</p>
  </div>

    
</div>