.contenedor-img{
    margin: 35px;
}
.container-formulario,
.container-registro  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.error-login{
    color: red;
}
ion-card{
    padding: 20px;
    border-radius: 10%;
}


ion-card-header{
    text-align: center;
    color: #6a0777;
    font-size: 15px;
}

.btn {
    --background: #f8a3c1;
    --border-color: #ffc5d3;
    --border-style: solid;
    --border-width: 1px;
    --padding-top: 15px;
    --padding-bottom: 15px;
}

.btn-ingreso{
    display: flex;
    flex-direction: row;
    margin: 30px;
}
.btn-persona{
    --background: #f8a3c1;
    --padding: 20px;
    --border-radius: 40%;
    --background-color:#f8a3c1; 
    --border-color: #ffc5d3;
    --border-style: solid;
    --border-width: 1px;
    --margin: 10px;
}


.link-registro{
    color: #6a0777;;
    text-align: center;
}

