
<div class="contenedor-home">
    <div class="contenedor-boton boton-1 ">
        
        <button (click)="seleccionarCurso('4A')" [routerLink]="['/chat']" class="btn bordered cursoA">
            <img class="gif" src="../../../assets/gif/4a.gif" alt="">
            <p>PPS-4A</p>
        </button>
    </div>
    <div class="contenedor-boton boton-2 bordered">
        <button (click)="seleccionarCurso('4B')" [routerLink]="['/chat']"   class="btn bordered cursoB">
            <img class="gif" src="../../../assets/gif/4b.gif" alt="">
            <p>PPS-4B</p>
        </button>
    </div>
</div>
